.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f8fa;
}

.login-form {
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    direction: rtl;
}

.login-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.btn {
    width: 100%;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.input-group {
    text-align: right;
} 