@using System.Globalization
@using BlazorApp1.Pages.Components.HeaderMenu
@inject IJSRuntime JS
@inject NavigationManager Navigation

<header id="page-topbar">
    <div class="layout-width">
        <div class="navbar-header">
            <CollapseButton/>
            <div class="d-flex align-items-center">
              
                <Language/>
                <WebApps/>
                <div class="ms-1 header-item d-none d-sm-flex">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle" data-toggle="fullscreen">
                        <i class='bx bx-fullscreen fs-22'></i>
                    </button>
                </div>

                <div class="ms-1 header-item d-none d-sm-flex">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle light-dark-mode">
                        <i class='bx bx-moon fs-22'></i>
                    </button>
                </div>

                <Notification/>

                <UserProfileMenu/>
            </div>
        </div>
    </div>
</header>
