<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <a href="index.html" class="logo logo-dark">
            <span class="logo-sm">
                <img src="/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="/images/logo-dark.png" alt="" height="17">
            </span>
        </a>
        <a href="index.html" class="logo logo-light">
            <span class="logo-sm">
                <img src="/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="/images/logo-light.png" alt="" height="17">
            </span>
        </a>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">
            <ul class="navbar-nav" id="navbar-nav">
                <SidebarMenuItem Title="Layouts" IconClass="icon-dual" Badge="Hot" 
                                 Items="LayoutsItems" />
                <SidebarMenuItem Title="Multi Level" IconClass="icon-dual"
                                 Items="MultiLevelItems"/>
            </ul>
        </div>
    </div>
    <div class="sidebar-background"></div>
</div>


@code {
    private List<MenuItem> LayoutsItems => new()
    {
        new MenuItem { Title = "Horizontal", Url = "layouts-horizontal.html" },
        new MenuItem { Title = "Detached", Url = "layouts-detached.html" },
        new MenuItem { Title = "Two Column", Url = "layouts-two-column.html" },
        new MenuItem { Title = "Hovered", Url = "layouts-vertical-hovered.html" },
    };

    private List<MenuItem> MultiLevelItems => new()
    {
        new MenuItem { Title = "Level 1.1", Url = "#" },
        new MenuItem
        {
            Title = "Level 1.2",
            Children = new List<MenuItem>
            {
                new MenuItem { Title = "Level 2.1", Url = "#" },
                new MenuItem
                {
                    Title = "Level 2.2",
                    Children = new List<MenuItem>
                    {
                        new MenuItem { Title = "Level 3.1", Url = "#" },
                        new MenuItem { Title = "Level 3.2", Url = "#" },
                    }
                }
            }
        }
    };
}